@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ISEM 551 HW2 - Smart Reporting</h1>
    <p class="lead">ISEM 551 HW2 is a ASP.NET project uses C#, AngularJS, and Bootstrap to create a website - "Smart Reporting" to demonstrate how to use AngularJS and Bootstrap.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg btn-block" target="_blank">
           <span class="glyphicon glyphicon-list-alt"></span>
                Bootstrap Button: Go to project requirement page &raquo;
        </a>
    </p>

    <img class="img-responsive" src="~/Content/images/Report1.jpg" />
    </div>

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-book"></span>
                Bootstrap Button: Report One
        </a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-align-justify"></span> 
                Bootstrap Button: Report Two
        </a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-calendar"></span> 
                Bootstrap Button: Report Three
        </a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-tasks"></span> 
                Bootstrap Button: Report Four
        </a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-briefcase"></span> 
                Bootstrap Button: Report Five
        </a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-credit-card"></span> 
                Bootstrap Button: Report Six
        </a>
    </div>
</div>